<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture Notes Generator</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../static/css/styles.css">
    <style>
        #fileInput {
            display: none; /* Hide the default file input */
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="inside-container">
            <div class="texts">
                <h1 class="header">Welcome to the Lecture Notes Generator</h1>
                <p>This web app allows you to convert speech to text and summarize lecture notes.</p>
            </div>
            
            <div class="buttons">
                <div class="card" onclick="document.getElementById('fileInput').click();">
                    <h2>UPLOAD AUDIO FILE</h2>
                    <p>Upload an audio file for transcription.</p>
                    <!-- Hidden file input -->
                    <input type="file" id="fileInput" accept="audio/*" onchange="uploadFile()">
                </div>
                
                <a href="/uploads">
                    <div class="card">
                        <h2>VIEW UPLOADED AUDIO FILES</h2>
                        <p>Your uploads</p>
                    </div>
                </a>
                
                <a href="/results">
                    <div class="card">
                        <h2>VIEW RESULTS</h2>
                        <p>View your notes</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    

    <script>
        function uploadFile() {
            const fileInput = document.getElementById('fileInput');
            if (fileInput.files.length > 0) {
                const formData = new FormData();
                formData.append('audio_file', fileInput.files[0]);

                fetch('/upload', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.text())
                .then(data => {
                    // Handle success or redirect to summary page
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    </script>
</body>
</html>
